@model IEnumerable<Team7ADProject.ViewModels.PostponeCollectionDateDepartmentViewModel>

@{
    ViewBag.Title = "Department";
}

@*Author:Lynn Lynn Oo*@

<div class="custcontainer">
    <h1><b>Postpone Collection Date</b></h1>

    <br />


    <table class="cusTable">

        <tr>
            <th>No.</th>
            <th>Department ID</th>
            <th>Request By</th>
            <th>Request ID</th>

            <th>Status</th>
            <th>Collection Date</th>
            <th>Postpone Collection Date</th>
            <th>Details</th>
            @*<th>Action</th>*@

        </tr>
        @{ int i = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>
                    @item.DepartmentID
                </td>
                <td>
                    @item.RequestBy
                </td>
                <td>
                    @item.RequestID
                </td>

                <td>
                    @item.Status
                </td>
                <td>
                    @item.CollectionDate
                </td>
                <td>
                    @item.CollectionDate
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.RequestID })
                </td>

            </tr>
        }

    </table>
    <br />
    <form method="post">
        <div align="right">
            <select name="weeksPostponeDuration">
                <option value="1">1 week</option>
                <option value="2">2 weeks</option>
                <option value="3">3 weeks</option>
                <option value="4">4 weeks</option>
                <option value="5">5 weeks</option>
            </select>
            <br />  <br />
            <input type="submit" value="Postpone" class="greenBtn pull-right"/>
        </div>
    </form>

</div>