@model IEnumerable<Team7ADProject.ViewModels.PostponeCollectionDateDepartmentViewModel>

@{
    ViewBag.Title = "Department";
}

@*Author:Lynn Lynn Oo*@

<div class="custcontainer">
    <h1><b>Postpone Collection Date</b></h1>

    <br />


    <table class="cusTable">

        <tr>
            <th>No.</th>
            <th>Department ID</th>
            <th>Request By</th>
            <th>Request ID</th>
            <th>Details</th>
            <th>Status</th>
            <th>Collection Date</th>

        </tr>
        @{ int i = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>
                    @item.DepartmentID
                </td>
                <td>
                    @item.RequestBy
                </td>
                <td>
                    @item.RequestID
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.RequestID })
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.CollectionDate
                </td>

            </tr>
        }

    </table>
    </div>