@using Team7ADProject.Entities
@model List<PurchaseOrder>
@{
    ViewBag.Title = "PO History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="custcontainer">
    <h2>View Purchase Orders</h2>
    <div>
        <input type="submit" class="blueBtn pull-right" style="width:90px" value="Raise PO" onclick="location.href='@Url.Action("RaisePo", "RaiseOrder")'" />
    </div>
    <br />
    <br />


    <div class="row">
        <div>
            <table id="poTable" class="cusTable">
                <thead>
                    <tr>
                        <th>
                            PO Number
                        </th>
                        <th>
                            Supplier
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PONo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierId)
                            </td>
                            <td>
                                S$@Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @{string para = item.Date.ToString("dd MMM yyyy");}
                                @Html.DisplayFor(modelItem => para)
                            </td>

                            <td>
                                @Html.ActionLink(item.Status, "Details", new { poNo = item.PONo })
                            </td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $("#poTable").DataTable();
    </script>
}