@model Team7ADProject.ViewModels.GenerateReport.GenerateReportViewModel

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>

    window.onload = function () {

        var disbChart = new CanvasJS.Chart("DisbChart", {
            animationEnabled: true,
            theme: "light1",
            exportEnabled: true,
            title: { text: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.deptDP.title)) },
            axisY: { valueFormatString: "#,###", prefix: "$" },
            data: [{
                type: "column",
                dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.deptDP.datapoint))
                }]
        });

        var disbStatChart = new CanvasJS.Chart("DisbStat", {
            animationEnabled: true,
            theme: "light1",
            exportEnabled: true,
            title: {
                text: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.statDP.title)),
            fontSize: 16.5},
            axisY: { valueFormatString: "#,###", prefix: "$" },
            data: [{
                type: "bar",
                dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.statDP.datapoint))
                }]
        });
                
        var enttimeChart = new CanvasJS.Chart("DisbEntTime", {
            animationEnabled: true,
            exportEnabled: true,
            zoomEnabled: true,
            title: {
                text: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.enttimeDP.title))
                },
            data: [
                {
                    type: "line",
                    showInLegend: true,
                    name: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.entdata[0].label)),
                    dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.entdata[0].datapoint))
                }]
        });

        var disbTimeChart = new CanvasJS.Chart("DisbTime", {
            animationEnabled: true,
            exportEnabled: true,
            zoomEnabled: true,
            title: {
                text: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.stattimeDP.title))
                },
            data: [
                {
                    type: "line",
                    showInLegend: true,
                    name: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.data[0].label)),
                    dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.data[0].datapoint))
                }]
        });

        var namearr = new Array();
        var dxparr = new Array();
        var entnamearr = new Array();
        var entdxparr = new Array();

        @foreach(var i in Model.data)
        {
            @:namearr.push("@i.label");
            var pt = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(i.datapoint));
            @:dxparr.push(@pt);
            
        };

       @foreach(var j in Model.entdata)
        {
            @:entnamearr.push("@j.label");
            var entpt = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(j.datapoint));
            @:entdxparr.push(@entpt);
            
        };

        for (i = 1; i < namearr.length; i++) {
            var newSeries = {
                name: namearr[i],
                showInLegend: true,
                type: "line",
                dataPoints: dxparr[i]             
             };
        
            disbTimeChart.options.data.push(newSeries);
        };

        for (j = 1; j < entnamearr.length; j++) {
            var newSeriesent = {
                name: entnamearr[j],
                showInLegend: true,
                type: "line",
                dataPoints: entdxparr[j]
            };

            enttimeChart.options.data.push(newSeriesent);
        };

        disbChart.render();
        disbStatChart.render();
        disbTimeChart.render();
        enttimeChart.render();

    };
</script>
<div style="width:80%;">
    <div id="DisbChart" style="height: 250px; width:49%; float:left; padding-right:10px;">
    </div>
    <div id="DisbStat" style="height: 250px; width:49%; float:left; padding-left:10px;">
    </div>
</div>
@if (Model.deptID == "STAT")
{
<div id="DisbEntTime" style="height: 300px; width: 80%; float:left; padding-top:40px;">
</div>}
<div id="DisbTime" style="height: 300px; width: 80%; float:left; padding-top:40px;">
</div>
