
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>

        window.onload = function () {
            var disbChart = new CanvasJS.Chart("DisbChart", {
                animationEnabled: true,
                theme: "light1",
                title: { text: "Disbursements by Department" },
                axisY: {valueFormatString: "#,###", prefix: "$"},
                data: [{
                    type: "column",
                    dataPoints: @Html.Raw(@ViewContext.Controller.ViewBag.deptDataPoints)
                }]
            });

            var disbStatChart = new CanvasJS.Chart("DisbStat", {
                animationEnabled: true,
                theme: "light1",
                title: { text: "Disbursement by Stationery type" },
                axisY: { valueFormatString: "#,###", prefix: "$" },
                data: [{
                    type: "bar",
                    dataPoints: @Html.Raw(@ViewContext.Controller.ViewBag.statDataPoints)
                }]
            });

            var disbTimeChart = new CanvasJS.Chart("DisbTime", {
                animationEnabled: true,
                title: {
                    text: "Disbursement over time"
                },
                data: [{
                    type: "line",
                    dataPoints: @Html.Raw(@ViewContext.Controller.ViewBag.timedataPoints)
                }]
            });

            disbChart.render();
            disbStatChart.render();
            disbTimeChart.render();
        }
</script>
<div style="width:80%;">
    <div id="DisbChart" style="height: 250px; width:49%; float:left; padding-right:10px;">
    </div>
    <div id="DisbStat" style="height: 250px; width:49%; float:left; padding-left:10px;">
    </div>
</div>
<div id="DisbTime" style="height: 300px; width: 80%; float:left; padding-top:40px;">
</div>
