@model Team7ADProject.ViewModels.GenerateReport.GenerateReportViewModel

@using Team7ADProject.ViewModels.GenerateReport

@{
                /**/

                ViewBag.Title = "GenerateDashboard";

}


<head>

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>


    <script>
        $(function () {

            $("#fromDateTP").datepicker({
                required: true,
                message: "This is a required field",
                yearRange: "2017:+0",
                maxDate: '0',
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd MM yy',
                showOn: "both",
                defaultDate: "01 January 2017",
                onSelect: function (dateText, inst) {
                    $("#toDateTP").datepicker("option", "minDate", $("#fromDateTP").datepicker("getDate"));
                }
            });

            $("#toDateTP").datepicker({
                required: true,
                showOn: "both",
                message: "This is a required field",
                minDate: "01 January 2017",
                maxDate: '0',
                changeMonth: true,
                changeYear: true,
                showOn: "both",
                dateFormat: 'dd MM yy'
            });
            $("#toDateTP").validate();
            $("#fromDateTP").validate();

            $("[type=date]").datepicker({
                onClose: function () {
                    $(this).valid();
                }
            });

            if ($('#module').change(function () {
                if ($(this).val() == 'Retrieval') {
                    $('#deptselect').hide();
                    $('#supplierselect').hide();
                    $('#employeeselect').show();
                    $('#report').hide();
                }

                else if ($(this).val() == 'Purchases') {
                    $('#deptselect').hide();
                    $('#supplierselect').show();
                    $('#employeeselect').hide();
                    $('#report').hide();
                }
                else {
                    $('#deptselect').show();
                    $('#supplierselect').hide();
                    $('#employeeselect').hide();
                    $('#report').show();
                }
            }));
            if ($('#module').change(function () {
                if ($(this).val() == 'Requests') {
                    $('#report').hide();
                }
            }));
        });
    </script>

</head>

<div class="custcontainer">
    <h2>Store Dashboard</h2>
    <br />
    <table>
        <tr>
            <th>Module selected:</th>
            <td>@String.Format("{0}", @Model.module)</td>
        </tr>
        <tr>
            <th>Period selected from: </th>
            <td>@String.Format("{0:dd MMM yyyy}", @Model.fDate) to @String.Format("{0:dd MMM yyyy}", @Model.tDate)</td>
        </tr>
        <tr>
            <th>Stationery categories:  </th>
            <td>
                @foreach (var item in @Model.selectstatcategory)
                {@String.Format(" {0} ", item)}
            </td>
        </tr>
        <tr>
            <th>Entities selected:</th>
            <td>
                @foreach (var item in @Model.selectentcategory)
                {@String.Format(" {0} ", item)}
            </td>
        </tr>


    </table>
    <br />
    <div>
        <div id="ReportFilters" style="width:20%; height:100%; float:right;">
            <form id="filterOps" name="filterOps" action='@Url.Action("GenerateDashboard","GenerateReport")' method="post">
                @if (Model.deptID == "STAT")
                {<div id="report">
                        <p><button type="submit" id="exportBtn" formaction='@Url.Action("ExportRpt","GenerateReport")' class="blueBtn pull-right" formmethod="post">Export Report</button></p>
                    </div>
                }
                <p>   </p>
                <p>Select module:</p>
                <p>
                    <select id="module" name="module">
                        <option value="Disbursements">Disbursements</option>
                        <option value="Requests">Stationery Requests</option>
                        <option value="ChargeBack">Charge Backs</option>
                        @if (Model.deptID == "STAT")
                        {
                            <option value="Purchases">Purchases</option>
                            <option value="Retrieval">Retrieval</option>
                        }
                    </select>
                </p>

                <p>Select period:</p>
                <p>
                    <input type="text" required name="fromDateTP" id="fromDateTP" placeholder="Please select a date" onkeypress="return false;">
                </p>
                <p>
                    <input type="text" required name="toDateTP" id="toDateTP" placeholder="Please select a date" onkeypress="return false;">
                </p>
                <details>
                    <summary style="background-color:#414657; color:antiquewhite">
                        <p>
                            <b>Stationery Categories ▼</b>
                        </p>
                    </summary>
                    <div></div>
                    <p>
                        @foreach (var item in Model.statcategory)
                        {
                            <input type="checkbox" name="selstatcat" value="@item" id="selstatcat" /><label for="@item">@item</label><br />
                        }
                    </p>
                </details>
                <details>
                    <summary style="background-color:#414657; color:antiquewhite">
                        <p>
                            <b>Select Entity ▼</b>
                        </p>
                    </summary>
                    <p>
                        <div id="deptselect">
                            @foreach (var item in Model.entcategory)
                            {
                                <input type="checkbox" name="seldeptcat" value="@item" id="selectdeptcat" /><label for="@item">@item</label><br />
                            }
                        </div>
                        <div id="employeeselect" hidden>
                            @foreach (var item in Model.employee)
                            {
                                <input type="checkbox" name="seleecat" value="@item" id="selectemployee" /><label for="@item">@item</label><br />
                            }
                        </div>
                        <div id="supplierselect" hidden>
                            @foreach (var item in Model.supplier)
                            {
                                <input type="checkbox" name="selsscat" value="@item" id="selectsupplier" /><label for="@item">@item</label><br />
                            }
                        </div>
                    </p>
                </details>
                <input type="submit" id="filterBtn" value="Filter" class="blueBtn pull-right" />
            </form>
        </div>

        <div id="charts">@Html.Partial("_Charts")</div>

    </div>
</div>