@model Team7ADProject.ViewModels.GenerateReport.GenerateReportViewModel

@using Team7ADProject.ViewModels.GenerateReport

@{
    ViewBag.Title = "GenerateDashboard";

}


<head>

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>


    <script>
      
        $(function () {

            $("#fromDateTP").datepicker({
                required: true,
                message: "This is a required field",
                yearRange: "2017:+0",
                maxDate: '0',
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd MM yy',
                showOn: "both",
                defaultDate: "01 January 2017",
                onSelect: function (dateText, inst) {
                    $("#toDateTP").datepicker("option", "minDate", $("#fromDateTP").datepicker("getDate"));
                }
            });

            $("#toDateTP").datepicker({
                required: true,
                showOn: "both",
                message: "This is a required field",
                minDate: '-2y',
                maxDate: '0',
                changeMonth: true,
                changeYear: true,
                showOn: "both",
                dateFormat: 'dd MM yy'
            });
            $("#toDateTP").validate();
            $("#fromDateTP").validate();

            $("[type=date]").datepicker({
                onClose: function () {
                    $(this).valid();
                }
            });
        });
    </script>

</head>

<h2>Store Dashboard</h2>
<br/>
<table>
    <tr>
        <th>Period selected from: </th>
        <td>@String.Format("{0:dd MMM yyyy}", @Model.fDate) to @String.Format("{0:dd MMM yyyy}", @Model.tDate)</td>     
    </tr>


</table>
<div style="width:80%;">
    <div id="ReportFilters" style="width:20%; height:100%; border:groove; float:right;">
        <form id="filterOps" name="filterOps" action='@Url.Action("GenerateDashboard","GenerateReport")' method="post">
            <p>Select period:</p>
            <p>
                <input type="text" required name="fromDateTP" id="fromDateTP" onkeypress="return false;">
            </p>
            <p>
                <input type="text" required name="toDateTP" id="toDateTP" onkeypress="return false;">
            </p>
            <input type="submit" id="filterBtn" value="Filter" />
        </form>
    </div>

    <div id="charts">@Html.Partial("_Charts")</div>

</div>
