@model IEnumerable<Team7ADProject.Entities.Stationery>

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            No
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitOfMeasure)
        </th>
        <th>Status</th>
    </tr>


    @{ int i = 1;}
    @foreach (var item in Model)
    {
    <tr>
        <td>@(i++)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitOfMeasure)
        </td>
    </tr>
    }

</table>
