@model IEnumerable<Team7ADProject.Entities.StationeryRequest>

@{
    ViewBag.Title = "Requisition History";
}

<h2><b>Requisition History</b></h2>

@*<h5>Department Name :  @ViewBag.DepartmentName </h5>*@

<div>
    <form id="rangeDTP" name="rangeDTP" action='@Url.Action("Index","RequisitionHistory")' method="post">
        <table>
            <tr>
                <td>
                    <b> Search: </b><input type="text" name="search" id="search" placeholder="Search">
                </td>
                <td>
                    <input type="submit" id="submitBtn" value="Go" />
                </td>
            </tr>
        </table>
    </form>
</div>
<br/>
<table class="table">
    <tr>
        <th>No</th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>Action</th>
    </tr>

    @{ int i = 1;}

    @foreach (var item in Model)
    {
        <tr>
            <td>@(i++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.RequestId })
            </td>
        </tr>
    }

</table>
