@model IEnumerable<Team7ADProject.ViewModels.OwnRequisitionHistoryViewModel>

@{
    ViewBag.Title = "Requisition History";
}

<div class="container">
    <h2><b>Requisition History</b></h2>
    <br />
    <table class="table table-bordered table-hover">
        <tr>
            <th>No.</th>
            <th>Item Description</th>
            <th>Quantity</th>
            <th>Unit of Measure</th>
            <th>Request Date</th>
            <th>Status</th>
        </tr>

        @{ int i = 1;}

        @foreach (var item in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>@item.ItemDescription</td>
                <td>@item.ItemQuantity</td>
                <td>@item.UnitOfMeasure</td>
                <td>@item.RequestDate</td>
                <td>@item.Status</td>
            </tr>
        }
    </table>
</div>