@model Team7ADProject.Entities.Supplier

@{
    ViewBag.Title = "Details";
}

<h2>  @Html.DisplayFor(model => model.SupplierName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaxNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaxNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSTRegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSTRegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        
            @if (@Model.Status.Equals("0"))
            {
                <dd>Inactive</dd>
            }
            else
            {
                <dd>Active</dd>
            }
           
     
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
