@model IEnumerable<Team7ADProject.Entities.Supplier>

@{
    ViewBag.Title = "View";
}

<h2>Manage Suppliers</h2>

<p>
    @Html.ActionLink("Create New Supplier", "Create")
</p>
<div class="custcontainer">
    <table class="cusTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                Status
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            @if (item.Status.Equals("0"))
            {
                <td>Inactive</td>
            }
            else
            {
                <td>Active</td>
            }
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.SupplierId })

            </td>
        </tr>
        }

    </table>

</div>