@model IEnumerable<Team7ADProject.Entities.CollectionPoint>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}


<table id="CPTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Description")
            </th>
            <th>
                @Html.Label("Time")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" onclick="Edit('@Url.Action("AddOrEdit", "ManagePoint", new { id=@item.CollectionPointId})')"><i class="fa fa-pencil fa-lg"></i></a>
                    <a class="btn btn-danger btn-sm" onclick="Delete('@Url.Action("Delete", "ManagePoint", new { id=@item.CollectionPointId})')"><i class="fa fa-trash fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>



