@model Team7ADProject.ViewModels.HistoryDetailViewModel

@{
    ViewBag.Title = "Detail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="custcontainer">
        <table>
            <tr>
                <td width="1000px">
                    <h2>Request Details</h2>
                </td>
                <td>
                    @Html.ActionLink("Back", "Index", "History", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
                </td>
            </tr>
        </table>


        <div>
            <table class="table">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Request.RequestedBy):
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Request.AspNetUsers1.EmployeeName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Request.ApprovedBy):
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Request.AspNetUsers.EmployeeName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Request.Status):
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Request.Status)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Request.RequestDate):
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Request.RequestDate)
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Details.First().Stationery.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details.First().Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details.First().Remarks)
                    </th>
                    <th>
                        Collection Date
                    </th>
                </tr>

                @foreach (var item in Model.Details)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stationery.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionDate)
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</body>
</html>
