@model IEnumerable<Team7ADProject.Entities.TransactionDetail>

@{
    ViewBag.Title = "Detail";
}

<div class="custcontainer">

    <center><h2><b>Details</b></h2></center>

    @*Author:Lynn Lynn Oo*@
   
    <table border="1" width="50" class="cusTable">
        <col style="width:8%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:8%">
        <col style="width:10%">
        <col style="width:10%">
        <tr>
            <th>No.</th>
            <th>Item Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Unit of Measure</th>
            <th>Transaction Date</th>
        </tr>



        @{ int i = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(i++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stationery.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stationery.Category)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stationery.UnitOfMeasure)
                </td>
                <td>
                    @String.Format("{0:dd MMM yyyy}", item.TransactionDate)
                </td>
            </tr>
        }

    </table>
</div>