@model IEnumerable<Team7ADProject.Entities.StationeryRequest>

@{
    ViewBag.Title = "Index";
}

<center><h1><b>Postpone Collection Date</b></h1></center>

<table class="table table-bordered table-hover">
    <tr>
       <th>No.</th>
        <th>Request ID</th>
        <th>Details</th>
        <th>Collection Date</th>
        <th>Postpone</th>
    </tr>
@{ int i = 1;}
@foreach (var item in Model) {
    <tr>
       
        
        <td>@(i++)</td>
        <td>
            @Html.DisplayFor(modelItem=>item.RequestId)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.RequestId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionDate)
        </td>
        
        <td>
            @Html.ActionLink("Postpone", "Postpone", new { id=item.RequestId }) 
        </td>
    </tr>
}

</table>
