@model IEnumerable<Team7ADProject.Entities.Department>

@{
    ViewBag.Title = "Index";
}


<div id="DeptPpTable">
    <h2>Postpone Collection Date</h2>
    <a class="btn btn-default btn-sm" style="margin-bottom:10px;" onclick="Postpone('@Url.Action("Postpone", "ManagePostponeCollectionDate", new { id="ALL"})')">Postpone All</a>

    <table id="DeptTable" class="cusTable">
        <thead>
            <tr>
                <th>
                    @Html.Label("Department")
                </th>
                <th>
                    @Html.Label("Next Collection Date")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NextAvailableDate)
                    </td>
                    <td>
                        <a class="btn btn-default btn-sm" onclick="Postpone('@Url.Action("Postpone", "ManagePostponeCollectionDate", new { id=@item.DepartmentId})')"><i class="fa fa-clock-o fa-lg"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




@section scripts{
    <script>
        function Postpone(url) {
            bootbox.confirm({
                message: "Confirm to postpone?",
                size: 'small',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: 'POST',
                            url: url,
                            success: function (response) {
                                if (response.success) {
                                    $("#DeptPpTable").html(response.html);
                                    $.notify(response.message, {
                                        globalPosition: "top center",
                                        className: "success"
                                    })
                                }
                                else {
                                    $.notify(response.message, {
                                        globalPosition: "top center",
                                        className: "error"
                                    })
                                }
                            }

                        });

                    }
                    


                }
            });
        }

    </script>

}




