@model  IEnumerable<Team7ADProject.ViewModels.PostponeCollDateViewModel>

@{
    ViewBag.Title = "Postpone Collection Date";
}

<div class="container">
<center><h1><b>Postpone Collection Date</b></h1></center>
<br/>
<table class="table table-bordered table-hover">
    <tr>
       <th>No.</th>
        <th>Request ID</th>
        <th>Details</th>
        <th>Collection Date</th>
        <th>Postpone</th>
    </tr>

@{ int i = 1;}
@foreach (var item in Model) {
    <tr>
       
        
        <td>@(i++)</td>
        <td>
           @item.RequestID
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.RequestID })
        </td>
        <td>
            @item.CollectionDate
        </td>
        
        <td>
            @Html.ActionLink("Postpone", "Postpone", new { id=item.RequestID }) 
        </td>
    </tr>
}

</table>
    </div>
    

