@model List<Team7ADProject.ViewModels.RequestByItemViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("GenerateDisbursement", "ManageRetrieval", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<table class="table">
    <tr>
       
        <th>
            @Html.Label("Description")
        </th>
        <th>
            @Html.Label("DepartmentId")
        </th>
        <th>
            @Html.Label("Department Name")
        </th>
        <th>
            @Html.Label("Quantity")
        </th>
        <th>
            @Html.Label("RetrievedQty")
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Count; i++)
    {
    <tr>
            @Html.HiddenFor(x => x[i].ItemId)
        <td>
            @Html.DisplayFor(x => x[i].Description)
            @Html.HiddenFor(x => x[i].Description)
        </td>
        <td></td>
        <td></td>
        <td>
        </td>
        <td></td>
    </tr>
        for (int j = 0; j < Model[i].requestList.Count; j++)
        {
    <tr>
        <td></td>
        <td>
            @Html.DisplayFor(x => x[i].requestList[j].DepartmentId)
            @Html.HiddenFor(x => x[i].requestList[j].DepartmentId)
        </td>
        <td>
            @Html.DisplayFor(x => x[i].requestList[j].DepartmentName)
            @Html.HiddenFor(x => x[i].requestList[j].DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(x => x[i].requestList[j].Quantity)
        </td>
        <td>
            @Html.EditorFor(x => x[i].requestList[j].RetrievedQty, new { htmlAttributes = new { min = 0, max = Model[i].requestList[j].Quantity } })
        </td>
    </tr>
        }

    <tr>
        <td></td>
        <td></td>
        <td></td>

        <td style="font-weight:bold; font-size: 18px">
            @Html.DisplayFor(x => x[i].TotalQty)

        </td>
        <td></td>
        <td></td>
    </tr>
    }

    </table>

<input type="submit" value="Generate Disbursement List" class="btn btn-default" />
}