@model List<Team7ADProject.ViewModels.DisbursementByDeptViewModel>
@{
    ViewBag.Title = "ViewDisbursement";
}
<head>
    <style type="text/css" media="print" >
        body {
            visibility: hidden;
        }

        .print {
            visibility: visible;
        }
        .unprint{
            visibility: hidden;
        }
    </style>

</head>
<body>
    <div class="print">
        <div class="custcontainer">
            <h2>View Disbursement</h2>
            <a class="btn btn-primary btn-lg unprint pull-right" onclick="printFunction()"><i class="fa fa-print"></i></a>


            <table class="cusTable">
                <tr>

                    <th>
                        @Html.Label("Department Name")
                    </th>
                    <th>@Html.Label("Collection Point")</th>

                    <th>
                        @Html.Label("Item Name")
                    </th>
                    <th>
                        @Html.Label("Quantity")
                    </th>
                    <th></th>

                </tr>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(x => x[i].DepartmentId)
                        <td>@Html.DisplayFor(x => x[i].DepartmentName)</td>
                        <td>
                            @Html.DisplayFor(x => x[i].CollectionDescription)
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    for (int j = 0; j < Model[i].requestList.Count; j++)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @Html.HiddenFor(x => x[i].requestList[j].ItemId)
                            </td>
                            <td>
                                @Html.DisplayFor(x => x[i].requestList[j].Description)
                            </td>
                            <td>
                                @Html.DisplayFor(x => x[i].requestList[j].Quantity)
                            </td>
                            <td></td>
                        </tr>
                    }

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }

            </table>
        </div>
    </div>
</body>
@section scripts{
    <script>
        function printFunction() {
            window.print();
        }
    </script>


}