@model Team7ADProject.ViewModels.ValidateInvoiceViewModel
@{
    ViewBag.Title = "GetSupplierDO";
    Layout = null;
}


<table id="DeptTable" class="cusTable">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.Label("Delivery Order No")
            </th>
            <th>
                @Html.Label("Date")
            </th>
            <th>
                @Html.Label("Item")
            </th>
            <th>
                @Html.Label("Quantity")
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.DelOrderDetails.Count; i++)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(x => x.DelOrderDetails[i].isSelected, new { @class = Model.DelOrderDetails[i].DelOrderNo })
                </td>
                <td>
                    @Html.DisplayFor(x => x.DelOrderDetails[i].DelOrderNo)
                    @Html.HiddenFor(x => x.DelOrderDetails[i].DelOrderNo)
                </td>
                <td>
                    @Html.DisplayFor(x => x.DelOrderDetails[i].Date)
                </td>
                <td></td>
                <td></td>
            </tr>
            for (int j = 0; j < Model.DelOrderDetails[i].Details.Count; j++)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(x => x.DelOrderDetails[i].Details[j].Description)
                    </td>
                    <td>
                        @Html.DisplayFor(x => x.DelOrderDetails[i].Details[j].Quantity)
                    </td>
                    @Html.HiddenFor(x => x.DelOrderDetails[i].Details[j].Amount, new { @class = "Del" + Model.DelOrderDetails[i].DelOrderNo })
                </tr>
            }
        }
    </tbody>
</table>
<br />

<input type="submit" value="Validate" class="greenBtn pull-right" />


<script>
    //var table = $("#retForm");
    $(".form-horizontal").submit(function (e) {
        e.preventDefault();
        var valid = true;
        //check if any selected
        if ($("#retForm input:checkbox:checked").length > 0) {
            //bootbox.alert("Approved Successfully.", function () { $("#retForm").submit(); });
            //bootbox.alert('Approved Successfully.', function () {
            valid = true;
            //});
        }
        else {
            bootbox.alert("No delivery order selected to validate.");
            valid = false;
        }

        if (valid) this.submit();
    });
</script>