@model IEnumerable<Team7ADProject.ViewModels.SideBarViewModel>
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Team7ADProject.Models;
@{
    var currentUserId = User.Identity.GetUserId();
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());
    var sm =0;
    var dm =0;
    var cm=0;
    foreach (var i in Model)
    { if (User.IsInRole(i.Roles)) {
            if (i.SubMenu == "Stationery Management")
            {
                sm++;
            }
            if(i.SubMenu == "Collection Management")
            {
                cm++;
            }
            if(i.SubMenu == "Department Management")
            {
                dm++;
            }
        }
    }
}

<div class="sidebar">
    <img class="sidelogo" src="~/Content/images/Logo2.png" />
    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            @Html.ActionLink("Hello " + currentUser.EmployeeName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })

        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }

    <details>
        @foreach (var i in Model)
        {
            if (i.Roles == "All")
            {
                <a href="@Url.Action(i.Action, i.Controller)"> @Html.Raw(i.Title)</a>
            }
        }
        <summary>
            <p><b>Index ▼</b></p>
        </summary>
    </details>

    @if (sm > 0)
    {
        <details>
            @foreach (var i in Model)
            {
                if (User.IsInRole(i.Roles) && i.SubMenu == "Stationery Management")
                {
                    <a href="@Url.Action(i.Action, i.Controller)"> @Html.Raw(i.Title)</a>
                }
            }
            <summary><p><b>Stationery Management ▼</b></p></summary>
        </details>
    }

    @if (cm > 0)
    {<details>
            @foreach (var i in Model)
            {
                if (User.IsInRole(i.Roles) && i.SubMenu == "Collection Management")
                {
                    <a href="@Url.Action(i.Action, i.Controller)"> @Html.Raw(i.Title)</a>
                }
            }
            <summary><p><b>Collection Management ▼</b></p></summary>
        </details>
    }

    @if (dm > 0)
    {
        <details>
            @foreach (var i in Model)
            {
                if (User.IsInRole(i.Roles) && i.SubMenu == "Department Management")
                {
                    <a href="@Url.Action(i.Action, i.Controller)"> @Html.Raw(i.Title)</a>
                }
            }
            <summary><p><b>Department Management ▼</b></p></summary>
        </details>
    }

        @foreach (var i in Model)
        {
            if (User.IsInRole(i.Roles) && i.SubMenu == null)
            {
                <a href="@Url.Action(i.Action, i.Controller)"> @Html.Raw(i.Title)</a>
            }
        }
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    </div>

