@using Team7ADProject.Entities
@model  List<PurchaseOrder>

@{
    ViewBag.Title = "ViewPORecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>View Purchase Orders</h2>

<!------ Include the above in your HEAD tag ---------->
@using (Html.BeginForm("PODetails", "ApproveOrder"))
{
    <div class="custcontainer">
        <div class="row">
            <div >
                <table  class="cusTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>PO Number</th>
                            <th>Supplier</th>
                            <th>Ordered By</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var po in Model)
                        {
                            <tr>
                                <td>@Html.Label(po.Date.ToString("dd MMM yyyy"))</td>
                                <td>@po.PONo</td>
                                <td>@po.Supplier.SupplierName</td>
                                <td>@po.AspNetUsers1.EmployeeName</td>
                                <td>$@po.Amount</td>
                                @{ 
                                    string className = "";
                                    if (po.Status == "Completed")
                                    { className = "action - button shadow animate blue"; }
                                    if (po.Status == "Pending Approval")
                                    { className = "action - button shadow animate red"; }
                                    if (po.Status == "Pending Delivery")
                                    { className = "action - button shadow animate yellow"; }
                                    if (po.Status == "Partially Fulfilled")
                                    { className = "action - button shadow animate green"; }
                                    }
                                <td>@Html.ActionLink(po.Status, "PODetails", "ApproveOrder", new {poNo = po.PONo }, new {@class = className }) </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}

