@model System.Collections.Generic.List<Team7ADProject.Entities.Stationery>

@{
    ViewBag.Title = "Stationery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stationery Details</h2>
<p>
    @Html.ActionLink("New Stationery", "New", "ManageStationery", null, new { @class = "btn btn-primary" })
</p>
<table id="station" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Description</th>
            <th>Category</th>
            <th>Stock</th>
            <th>Reorder Level</th>
            <th>Location</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;}
        @foreach (var stationery in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>@Html.ActionLink(stationery.Description, "Edit", "ManageStationery", new { id = stationery.ItemId }, null)</td>
                <td>@stationery.Category</td>
                <td>@stationery.QuantityWarehouse</td>
                <td>@stationery.ReorderLevel</td>
                <td>@stationery.Location</td>
                <td>
                    <button data-stationery-id="@stationery.ItemId" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }

    </tbody>

</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            $("#station .js-delete").on("click",
                function() {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this stationery?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "../api/stationeries/" + button.attr("data-stationery-id"),
                                    method: "PUT",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        })
    </script>
}

